@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --cor1: #0B0F1A;
    --cor2: #111827;
    --cor3: #7C3AED;
    --cor4: #9333EA;
    --cor5: #9CA3AF;

    --font-nav: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000004;
    padding: 0px;
    margin: 0px;
}

/* MENU */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 4em;

    width: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-family: var(--font-nav);
    text-decoration-color: #0B0F1A;
}

.nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: #7C3AED;
    text-underline-offset: 0.6em;
    transition: 0.5s;
}

.nav-links li{
    display: inline;
    padding: 0px 1.1em;
}

.nav-search {
    border-radius: 20px;
    border: 2px solid #101020;
    background-color: #0A0A12;
    padding: 10px 10px;
    box-shadow: 1px 1px 8px #101020;
}

.nav-search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search input {
    background-color: #0A0A12;
    border: none;
    outline: none;
    padding-left: 2%;

    color: white;
    font-size: 1em;
}

.nav-search button {
    background-color: #0A0A12;
    border: none;
    padding: 0;
    margin: 0;
}

.nav-search button img {
    width: 45%;
    margin: 0;
    padding: 0;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-buttons .cart {
    width: 103%;
}

.nav-login a {
    font-family: var(--font-nav);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s;
}

.nav-login a:hover {
    color: #7C3AED;
    transition: 0.5s;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    font-family: var(--font-nav);

    margin-top: 1em;

    
}

.hero-banner h1{
    color: white;
    margin-left: 10%;
    line-height: 0.2em;
    margin-top: 0;
    font-size: 5em;
}

.hero-banner h2 {
    color: white;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 5%;
    font-size: 2em;
    font-weight: lighter;
    
}

.hero-banner p {
    color: white;
    margin-left: 10%;
    margin-bottom: 2%;
}

.hero .hero-buttons a{
    text-decoration: none;
    color: white;
    font-family: var(--font-nav);
}

.hero .hero-buttons .purple {
    background-color: #7C3AED;
    display: inline-block;
    margin-left: 10%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(165, 165, 165, 0.658);
}

.hero .hero-buttons .opaque {
    background-color: #0000006e;
    display: inline-block;
    margin-left: 0.5%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}


.hero-banner {
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 30em;

    box-shadow: inset 0 0 18px 8px rgba(0, 0, 0, 0.801)
}

.prom-bar {
    width: 67%;
    background-color: #0A0A13;
    border-radius: 15px;
    
    margin-top: 1em;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.prom-item {
    display: flex;
    width: 40%;

    margin: 1em 1.5em;

    justify-content: center;
    align-items: center;
}

.prom-item img {
    width: 14%;
}

.prom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 140%;
}

.prom-item h1 {
    font-family: var(--font-nav);
    color: #9333EA;
    font-weight: bolder;
    font-size: 0.9em;
    display: inline-block;

    margin: 0px 0px 0px 0.8em;
    padding: 0px;
}

.prom-item h2 {
    font-family: var(--font-nav);
    color: rgb(190, 190, 190);
    font-size: 0.8em;
    display: inline-block;
    font-weight: bold;

    margin: 0px 0px 0px 0.9em;
    padding: 0px;
}

.destaque {
    background-color: #0a0a134d;
    border-radius: 15px;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 67%;
    padding: 0.7%;
    
    display: grid;
    grid-template-areas: 
    'text1 text2'
    'car car'
    ;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.destaque h1 {
    font-family: var(--font-nav);
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    display: inline-block;

    grid-area: text1;

    margin: 0px 0px 0px 0.8em;
    padding: 0px;
}

.destaque a {
    text-decoration: none;
    color: #9333EA;
    font-weight: bold;
    font-family: var(--font-nav);

    text-align: end;

    grid-area: text2;
}

.carousel {
    width: 100%;
    margin: 1.1em auto;
    display: flex;
    scroll-behavior: smooth;
    
    overflow-x: auto;

    grid-area: car;
    
}


.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(left) {
    content: '<';
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: rgba(26, 26, 26, 0.342);
    border: 1px solid white;
    border-radius: 100%;
    padding: 0.2em 0.5em;
    position: absolute;
    margin-left: -1%;
    cursor: pointer;

}

.carousel::scroll-button(right) {
    content: '>';
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: rgba(26, 26, 26, 0.342);
    border: 1px solid white;
    border-radius: 100%;
    padding: 0.2em 0.5em;
    position: absolute;
    margin-left: 66%;
    cursor: pointer;

}

.card {
    background-color: #090A14;
    flex: 0 0 15em;
    height: 14em;
    border-radius: 10px;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    display: flex;
    flex-direction: column;
    

    margin-left: 1.5em;
    margin-right: 1.5em;
    

    font-family: var(--font-nav);

}

.card img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 0.3em;
    margin-top: 0px;
}

.card .info-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-top: 3%;
    margin-bottom: 4%;
    
}

.card h1 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0px;

    display: inline-block;
}

.card .fav {
    background-color: #090A14;
    color: #000004a2;
    font-size: 2em;
    border: none;
    border-radius: 50%;
    padding: 0.5em 0.5em;
    padding: 0px;
    margin: 0px;
    margin-right: 0.3em;
}

.card .info-bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-bottom: -10%;
}

.card .game-price {
    color: white;
}

.card .game-discount {
    color: white;
    background-color: #9333EA;
    padding: 0.2em;
    border-radius: 5px;
    margin-right: 0.3em;
}

footer {
    display: flex;
    padding: 3em;
    justify-content: space-around;
    align-items: center;
    background-color: #080B13;
}

footer h1 {
    font-family: var(--font-nav);
    color: rgba(139, 139, 139, 0.658);
    line-height: 0.8em;
    font-size: 1.2em;
    margin-bottom: 0px;
    
}

footer p {
    font-family: var(--font-nav);
    color: rgba(139, 139, 139, 0.658);
    line-height: 2em;
}

footer a {
    font-family: var(--font-nav);
    color: rgba(139, 139, 139, 0.658);
    line-height: 2em;
    text-decoration: none;
}

.foot-pay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 1em 4em 0px;
}

.foot-visa {
    background-color: #080811;
    width: 4em;
    height: 2.5em;
    border-radius: 5px;
}

.foot-visa img {
    width: 100%;
    padding: 0.3em;
}

.foot-MC {
    background-color: #080811;
    width: 4em;
    height: 2.5em;
    border-radius: 5px;
}

.foot-MC img {
    width: 100%;
    padding: 0.3em;
}

.foot-pix {
    background-color: #080811;
    width: 4em;
    height: 2.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-pix img {
    width: 100%;
    height: 80%;
    padding: 0.3em;
}

.foot-boleto {
    background-color: #080811;
    width: 4em;
    height: 2.5em;
    border-radius: 5px;
}

.foot-boleto img {
    width: 100%;
    padding: 0.3em;
}

/* JOGOS */

.main-jogos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    font-family: var(--font-nav);
    color: white;

    margin-bottom: 3em;
}

.main-jogos-start {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



.start-text {
    align-self: flex-start;
}

.start-text > p > .purple {
    color: var(--cor4);
    font-weight: bold;
}

.main-jogos-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.main-jogos-center ul {
    list-style: none;
    margin-left: -2em;
}

.jogos-filter {
    background-color: #0C0C15;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    padding: 1.6em;
    border-radius: 10px;
    line-height: 1.7em;
    margin-left: auto;
    margin-right: auto;
}

.jogos-filter hr {
    border: none;
    background-color: #18182b;
    height: 0.2em;
    border-radius: 5px;
}

.jogos-range{
    accent-color: var(--cor4);
    width: 100%;
}

.range-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jogos-select {
    border: none;
    background-color: #080810;
    border: 2px solid #101020;
    color: white;
    font-family: var(--font-nav);
    padding: 0.6em;
}

.jogos-lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
margin-right: auto;
}

.jogos-linha1 {
    display: flex;
}

.jogos-linha2 {
    display: flex;
    margin-top: 1em;
}

.grande {
    height: 20em;
    flex: 0 0 20em;
}

.grande img {
    height: 70%;
}

.grande a{
    text-decoration: none;
}

.main-jogos-bottom {
    margin-top: 2em;
}

.main-jogos-bottom a {
    color: white;
    font-family: var(--font-nav);
    text-decoration: none;
    padding: 0.9em;
    border: 2px solid rgba(165, 165, 165, 0.76);
    border-radius: 5px;
    margin-right: 0.4em;
    font-weight: bolder;
}

.purple-a a {
    border: 2px solid var(--cor4);
}

/* PRODUTO */

.main-prod {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 3em;
    margin-top: 3em;
}

.main-prod-top {
    display: flex;
}

.prod-top-img {
    display: flex;
    flex-direction: column;
}

.img-top {
    background-size: cover;
    background-position: center;
    width: 35em;
    height: 25em;
    border-radius: 10px;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
}

.img-bot {
    display: flex;
}

.img-s {
    background-size: cover;
    background-position: center;
    width: 8em;
    height: 5em;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 10px;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
}

.lop {
    background-image: url(../images/game_banners/lies_of_p/lop1.jpg);
}

.lop1 {
    background-image: url(../images/game_banners/lies_of_p/lop2.jpg);
}

.lop2 {
    background-image: url(../images/game_banners/lies_of_p/lop3.jpg);
}

.lop3 {
    background-image: url(../images/game_banners/lies_of_p/lop4.jpg);
}

.lop4 {
    background-image: url(../images/game_banners/lies_of_p/lop5.jpg);
}

.hk{
    background-image: url(../images/game_banners/hollow_knight/hk.jpg);
}

.hk1 {
    background-image: url(../images/game_banners/hollow_knight/hk1.jpg);
}

.hk2 {
    background-image: url(../images/game_banners/hollow_knight/hk2.jpg);
}

.hk3 {
    background-image: url(../images/game_banners/hollow_knight/hk3.jpg);
}

.hk4 {
    background-image: url(../images/game_banners/hollow_knight/hk4.jpg);
}

.dmc {
    background-image: url(../images/game_banners/devil_may_cry/dmc.jpg);
}

.dmc1 {
    background-image: url(../images/game_banners/devil_may_cry/dmc1.jpg);
}

.dmc2 {
    background-image: url(../images/game_banners/devil_may_cry/dmc2.jpg);
}

.dmc3 {
    background-image: url(../images/game_banners/devil_may_cry/dmc3.jpg);
}

.dmc4 {
    background-image: url(../images/game_banners/devil_may_cry/dmc4.jpg);
}

.sek {
    background-image: url(../images/game_banners/sekiro/sek.png);
}

.sek1 {
    background-image: url(../images/game_banners/sekiro/sek1.jpg);
}

.sek2 {
    background-image: url(../images/game_banners/sekiro/sek2.jpg);
}

.sek3 {
    background-image: url(../images/game_banners/sekiro/sek3.jpg);
}

.sek4 {
    background-image: url(../images/game_banners/sekiro/sek4.jpg);
}

.co {
    background-image: url(../images/game_banners/clair_obscure/co.avif);
}

.co1 {
    background-image: url(../images/game_banners/clair_obscure/co1.jpg);
}

.co2 {
    background-image: url(../images/game_banners/clair_obscure/co2.jpg);
}

.co3 {
    background-image: url(../images/game_banners/clair_obscure/co3.jpg);
}

.co4 {
    background-image: url(../images/game_banners/clair_obscure/co4.jpg);
}

.sv {
    background-image: url(../images/game_banners/stardew_valley/sv.jpg);
}

.sv1 {
    background-image: url(../images/game_banners/stardew_valley/sv1.jpg);
}

.sv2 {
    background-image: url(../images/game_banners/stardew_valley/sv2.jpg);
}

.sv3 {
    background-image: url(../images/game_banners/stardew_valley/sv3.jpg);
}

.sv4 {
    background-image: url(../images/game_banners/stardew_valley/sv4.jpg);
}

.prod-text {
    font-family: var(--font-nav);
    color: white;
    text-align: justify;
}

.prod-text h2 {
    display: inline-block;
    font-weight: normal;
    background-color: #13131D;
    margin: 0px 0.5em 0px 0px;
    line-height: 1em;
    font-size: 1.2em;
    padding: 0.4em;
    border-radius: 10px;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
}

.prod-text h1 {
    font-weight: 600;
}

.prod-text p {
    color: gray;
}

.prod-text-price {
    color: gray;
    font-size: 60%;
    text-decoration: line-through;
}

.prod-text-discount {
    background-color: var(--cor4);
    padding: 0.2em;
    font-size: 0.6em;
    border-radius: 10px;
}

.green {
    color: greenyellow;
}

.prod-estoque {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prod-add-cart {
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;

    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.prod-add-cart img {
    padding: 0px;
    margin-right: 0.5em;
}

.prod-add-list {
    background-color: #13131D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;

    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.prod-add-list img {
    padding: 0px;
    margin-right: 0.5em;
}

.prod-desc {
    display: flex;
    justify-content: space-between;
    line-height: 2.5em;
}

.main-prod-bot {
    color: white;
    font-family: var(--font-nav);
    text-align: justify;
    padding: 5em 5em 2em 5em;
    width: 80%;
}

.main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: var(--font-nav);
    color: white;

    margin: 0.5em auto 3em auto; 
}

.news-title {
    display: flex;
    width: 55%;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    line-height: 0.3em;
}

.news-title .purple {
    color: var(--cor4);
    font-weight: bold;
    width: 80%;
}

.news-title h1 {
    font-size: 2.5em;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px auto 0px auto;
}

.news-card {
    width: 80%;
}

.news-card a {
    background-color: #080a138e;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    width: 80%;
    border-radius: 10px;
    padding: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px auto 1em auto;
}

.news-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1em;
}

.news-card a {
    text-decoration: none;
}

.news-card h1 {
    color: white;
    font-size: 1.5em;
    line-height: 1em;
}

.news-card p {
    color: gray;
    margin: 0;
}

.news-card img {
    width: 15em;
    border-radius: 10px;
    border: 3px solid #101020;
    box-shadow: 1px 1px 8px #101020;
}

.main-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    margin: 2em auto 2em auto;
    

    color: gray;

    font-family: var(--font-nav);
}

.contato-title {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    text-align: left;
    
    
    font-family: var(--font-nav);
    color: white; 
}

.contato-title p {
    color: gray;
}

.contato-form {
    width: 100%;
    margin: 0px auto 0px auto;
}

.contato-form form {
    width: 100%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
}

.contato-txt {
    width: 80%;
    margin: 0px auto 2em auto;
    
}

.contato-txt input {
    background-color: #090C14;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    border-radius: 8px;
    margin-top: 0.2em;
    padding: 1em;
    width: 100%;

    font-family: var(--font-nav);
    font-size: 1em;
    color: white;
}

.contato-txt label, .contato-txta label {
    color: gray;
    font-weight: bold;
}

.contato-txta {
    width: 80%;
    height: 30%;
    margin: 0px auto 2em auto;
}

.contato-txta textarea {
    background-color: #080C14;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    width: 100%;

    padding: 1em ;

    font-family: var(--font-nav);
    font-size: 1em;
    color: white;
    
    resize: vertical;
}

.contato-submit {
    width: 80%;
    margin: 0px auto 2em auto;
}

.contato-submit input {
    background-color: #10131C;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    border: none;
    border-radius: 10px;
    margin-right: 0.5em;
    padding: 1em;
    width: 30%;
    font-family: var(--font-nav);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.contato-submit .roxo {
    background-color: var(--cor3);
}

.main-projeto {
    color: white;
    font-family: var(--font-nav);
    border-radius: 15px;
    padding: 1em;
    width: 100%;
    margin: 2em auto 2em auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projeto-article {
    background-color: #070B14;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    border-radius: 15px;
    padding: 1em;
    width: 50%;
    margin-left: 3em;
}

.projeto-article p {
    font-size: 1.3em;
}

.projeto-article hr {
    border: none;
    border: 1px solid #242c3f;
}

.projeto-article ul {
    font-size: 1em;
}

.projeto-anchor {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 3em;
}

.projeto-anchor a {
    text-decoration: none;

    font-family: var(--font-nav);
    color: white;
    padding: 1em;

    margin-bottom: 0.6em;

    background-color: #070A15;
    border: 2px solid #101020;
    box-shadow: 1px 1px 8px #101020;
    border-radius: 15px;
}